<%- include('./partials/head') %>

<div>
<h1>hallo</h1>
  <body background="/retro.jpeg"> -->
        <!-- <main>
          <section>
          <img src="/DSCN0675bewerkt.jpg">
            </section>
          
            <h1>Hallo <%= member.name +" "+ member.prefix %></h1>

            <a href="zakelijk"><button class="button">Zakelijk</button></a>
            <a href="persoonlijk"><button class="button2">Persoonlijk</button></a>
        </main>
</div>

<%- include('./partials/foot') %>
