<%- include('./partials/head') %>

  <main>

    <section id="avatar">
      <img src="https://avatars.githubusercontent.com/u/112861144?v=4" alt="avatar image">
      <div class="square"><i class="fa-brands fa-github"></i><span> Maaike0904</span></div>
    </section>

    <section class="name-section">
      <h1><%=member.name%> <%=member.surname%> :)</h1>
      <p>Eerstejaars student van FDND - HvA</p>
      <a href="https://github.com/Maaike0904"><button>Github</button></a>
      <a href="https://www.linkedin.com/in/maaike-verplancke-28bba9181/"><button>LinkedIn</button></a>
      <a href="https://www.instagram.com/studio_made_/"><button>Instagram</button></a>
      <a href="http://www.studiomadedesign.nl/"><button>Portfolio</button></a>
    </section>
    
  </main>

<%- include('./partials/foot') %>