<%- include('./partials/head') %>

  <main>

    <section id="avatar">
      <img src="https://avatars.githubusercontent.com/u/112861144?v=4" alt="avatar image">
      <i class="fa-brands fa-github"></i><span> Maaike0904</span>
    </section>

    <section class="name-section">
      <h1><%=member.name%> <%=member.surname%> :)</h1>
    </section>
    
  </main>

<%- include('./partials/foot') %>