* {
  box-sizing:border-box;
}

html {
  height:100vh;
  display: block;

}

body {
    overflow-y: scroll;
    min-width: 60em;
    margin: 0 auto;
    padding: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background-color: rgb(254, 217, 236);
}

main{
      width: 30em;
      height: 20em;
      background: #ffffff;
      background-size: cover;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 1rem;
      border-color: #f9d0ed;
      box-shadow: rgba(255, 83, 166, 0.5)  0px 0px 15px 7px;
    }

    
h1 {
  color:#ff0000;
  position:top;
  top:0rem;
  text-align: center;
  font-size: 1.2em;
  font-family:"inter";
}

p{
  color:#ff0000;
  text-align: center;
  font-size: 1em;
  font-family:"inter";
}

.name-and-avatar{
  padding: 2em;
}

#avatar {
  width: 10em;
  height: 10em;
}

/* EIGEN ANIMATIES PER WOORD */
a:nth-of-type(1){
  color: #3777FF;
}

.show{
  animation-name: show;
  animation-duration: 3s;
  animation-iteration-count:2;
}

@keyframes show{
  0% {
  opacity: 100%;
  }
  50% {
  opacity: 0%;
  }
  100% {
  opacity: 100%;
  }
}


section img{
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 100%;  
    border-radius: 1rem;
    /* margin-bottom: 20em; */
}

.fa-github{
  color: #ff0000;
  font-size: 1.5em;
  padding-top: 1em;
}

style attribute {
    --rotateX: 4.63deg;
    --rotateY: 6.06deg;
}